# Builds files
/.config

/studymate-backend/.vs
/studymate-backend/bin
/studymate-backend/obj
/studymate-backend/keys

/studymate-backend-tests/.vs
/studymate-backend-tests/obj
/studymate-backend-tests/bin


# Jetbrains
/.idea

# System files
.DS_Store
Thumbs.db